<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>Your Sawal :: Group</title>
		<link rel="icon" href="images/logo.jpg" type="image/png" sizes="16x16"> 
		
		<link rel="stylesheet" href="css/main.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/color.css">
		<link rel="stylesheet" href="css/responsive.css">
	
	</head>
	<body>
	<div class="wavy-wraper">
			<div class="wavy">
			  <span style="--i:1;">Y</span>
			  <span style="--i:2;">o</span>
			  <span style="--i:3;">u</span>
			  <span style="--i:4;">r</span>
			  <span style="--i:5;">S</span>
			  <span style="--i:6;">a</span>
			  <span style="--i:7;">w</span>
			  <span style="--i:8;">a</span>
			  <span style="--i:9;">a</span>
			  <span style="--i:10;">l</span>
			</div>
		</div>
	<div class="theme-layout">
		
		
		
		<div class="topbar stick">
			<div class="logo">
				<a title="" href="#"><img height="100" src="images/logo.jpeg" alt=""></a>
			</div>
			<div class="top-area">
				
				<div class="top-search">
					<form method="post" class="">
						<input type="text" placeholder="Search Questions, Groups etc">
						<button data-ripple><i class="ti-search"></i></button>
					</form>
				</div>
				<div class="page-name">
					<span> Group Name</span>
				 </div>
				<ul class="setting-area">
					
				
					<li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
					
					</li>
					
				</ul>
				<div class="user-img">
					<h5>Group Timeline</h5>
					<img src="images/resources/company1.png" alt="">
					
					<div class="user-setting">
						
						<ul class="log-out">
							<li><a href="view-profile.html" title=""><i class="ti-user"></i> view profile</a></li>
							<li><a href="edit-profile.html" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
							
							<li><a href="#" title=""><i class="ti-power-off"></i>log out</a></li>
						</ul>
					</div>
				</div>
				</div>
			
		</div><!-- topbar -->
		
		
		
		
		<div class="fixed-sidebar left">
			<div class="menu-left">
				<ul class="left-menu">
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\questions\questions.html" title="Questions" data-toggle="tooltip" data-placement="right">
							<i class="ti-magnet"></i>
						</a>
					</li>
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html" title="Groups" data-toggle="tooltip" data-placement="right">
							<i class="fa fa-users"></i>
						</a>
					</li>
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\questions\question-details.html" title="Answer" data-toggle="tooltip" data-placement="right">
							<i class="fa fa-forumbee"></i>
						</a>
					</li>
					
					
					
				</ul>
			</div>
			
		</div><!-- left sidebar menu -->
			
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="user-profile">
								<figure>
									<div class="edit-pp">
										<label class="fileContainer">
											<i class="fa fa-camera"></i>
											<input type="file">
										</label>
									</div>
									<img src="images/resources/profile-image.jpg" alt="">
									<ul class="profile-controls">
										<li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
										<li><a href="#" title="UnFollow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
										
									</ul>
									
								</figure>
								
								<div class="profile-section">
									<div class="row">
										<div class="col-lg-2 col-md-3">
											<div class="profile-author">
												<div class="profile-author-thumb">
													<img alt="author" src="images/resources/channel.jpg">
													<div class="edit-dp">
														<label class="fileContainer">
															<i class="fa fa-camera"></i>
															<input type="file">
														</label>
													</div>
												</div>
													
												<div class="author-content">
													<a class="h4 author-name" href="#">Cricket Group</a>
													<div class="country">Sports</div>
												</div>
											</div>
										</div>
										<div class="col-lg-10 col-md-9">
											<ul class="profile-menu">
												<li>
													<a class="active" href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html">Newsfeed</a>
												</li>
												
												<li>
													<a class="" href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline-friends.html">Followers</a>
												</li>
												
												
											</ul>
											<ol class="folw-detail">
												<li><span>Posts</span><ins>101</ins></li>
												<li><span>Followers</span><ins>1.3K</ins></li>
												
											</ol>
										</div>
									</div>
								</div>	
							</div><!-- user profile banner  -->
							<div class="col-lg-3">
								<aside class="sidebar static left">
									<div class="widget">
										<h4 class="widget-title">Cricket Group</h4>	
										<div class="your-page">
											<figure>
												<a href="#" title=""><img src="images/resources/channel.jpg" alt=""></a>
											</figure>
											<div class="page-meta">
												<a href="#" title="" class="underline">Cricket Group</a>
												<span><i class="ti-comment"></i><a href="#" title="">Private</a></span>
												</div>
											
											<div class="page-likes">
											
												<!-- Tab panes -->
												
											</div>
										</div>
									</div><!-- page like widget -->
									<div class="widget">
										<h4 class="widget-title">Group intro</h4>
										<ul class="short-profile">
											<li>
												<span>About</span>
												<p>Hi, Let's discuss about the live cricket matches and help others with questions related to cricket. </p>
											</li>
											<li>
												<span>Category</span>
												<p>Sports </p>
											</li>
											<li>
												<span>Admin</span>
												<p>@SailendraDamaraju</p>
											</li>
										</ul>
									</div>
									
									<div class="widget pitnik-links stick-widget">
										<ul>
											<li><a href="#" title="">#cricket</a></li>
											<li><a href="#" title="">#questions</a></li>
											<li><a href="#" title="">#discussions</a></li>
											<li><a href="#" title="">#icc</a></li>
											<li><a href="#" title="">#IPL</a></li>
											<li><a href="#" title="">#India</a></li>
											<li><a href="#" title="">#BCCI</a></li>
											<li><a href="#" title="">#Australia</a></li>
											<li><a href="#" title="">#England</a></li>
										</ul>
										
									</div><!-- little links -->
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-9">
								<div class="central-meta postbox">
									<span class="create-post">Create post</span>
									<div class="new-postbox">
										<figure>
											<img src="images/resources/company1.png" alt="">
										</figure>
										    <div class="newpst-input">
											<form method="post" action="/grouptimeline">
												<textarea rows="1" placeholder="Share Post with the Community!" name="body"></textarea>
											
										    </div>
										    <div class="attachments">
											
											<button class="post-btn" type="submit" data-ripple="">Post</button>
										    </div>
									       </form>
								    </div>
									
								</div><!-- add post new box -->
								
								<div class="loadMore">
									<div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="images/resources/hobo.jpg" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
																<li><i class="fa fa-trash-o"></i>Delete Post</li>
																<li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
																
															</ul>
														</div>
													</div>
													<ins><a href="#" title="">Sailendra</a></ins>
													<span><i class="fa fa-globe"></i> April,25 2022</span>
												</div>
												<div class="post-meta">
													<figure>
															<img src="images/resources/user-post.jpg" alt="">
														
															<h4>A day in the life of a developer</h4>
														</a>
														

													</figure>												
													<div class="description">
														<p>
															To debugging and troubleshooting, developers have their hands full.</p>
													</div>
													<div class="we-video-info">
														<ul>
															
															<li>
																<div class="likes heart" title="Like/Dislike">❤ <span>2K</span></div>
															</li>
															<li>
																<span class="comment" title="Comments">
																	<i class="fa fa-commenting"></i>
																	<ins>2</ins>
																</span>
															</li>

															
														</ul>
														
													</div>
												</div>
												<div class="coment-area" >
													<ul class="we-comet">
														<li>
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="timeline.html" title="">James T Kirk</a></h5>
																<p>They need to be able to think on their feet and be able to work with a team to get the job done</p>
																<div class="inline-itms">
																	<span>1 day ago</span>
																	
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>

														</li>
														<li>
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="timeline.html" title="">Starfleet Enterprise</a></h5>
																<p>Exploring Space is awesome.
																	
																</p>
																<div class="inline-itms">
																	<span>1 hour ago</span>
																	
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>
														</li>
														
														<li class="post-comment">
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="post-comt-box">
																<form method="post">
																	<textarea placeholder="Post your comment"></textarea>
																	<div class="add-smiles">
																		<div class="uploadimage">
																			<i class="fa fa-image"></i>
																			<label class="fileContainer">
																				<input type="file">
																			</label>
																		</div>
																		
																	</div>

																	<button type="submit"></button>
																</form>	
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									<div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="images/resources/hobo.jpg" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
																<li><i class="fa fa-trash-o"></i>Delete Post</li>
																<li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
																</ul>
														</div>
													</div>
													<ins><a href="timeline.html" title="">Linkedin</a></ins>
													<span>sponsored <i class="fa fa-globe"></i></span>
													
												</div>
												<div class="post-meta">
													<figure>
														<img src="images/sponsors.gif" alt="">
														
													</figure>	
													<div class="description">
														<a href="#" class="learnmore" data-ripple="">Visit Website</a>
														<p>
															A Sample Linkedin Ad is being displayed here

														</p>
													</div>
													
												</div>
												
											</div>
										</div>
									</div><!-- digital sponsors -->
									<div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="images/resources/hobo.jpg" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
																<li><i class="fa fa-trash-o"></i>Delete Post</li>
																<li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
																</ul>
														</div>
													</div>
													<ins><a href="timeline.html" title="">Sherlock Holmes</a></ins>
													<span> April,26 2022 </span>
												</div>
												<div class="post-meta">
													<div class="description">
														<p>
															Sherlock; into the game of shadows <a href="#" title="">#guess the actor!</a> 
														</p>
													</div>
													
												
													<div class="we-video-info">
														<ul>
														
															<li>
																<div class="likes heart" title="Like/Dislike">❤ <span>2K</span></div>
															</li>
															<li>
																<span class="comment" title="Comments">
																	<i class="fa fa-commenting"></i>
																	<ins>2</ins>
																</span>
															</li>

															
														</ul>
														
													</div>
												</div>
												<div class="coment-area" >
													<ul class="we-comet">
														<li>
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="timeline.html" title="">James T Kirk</a></h5>
																<p>It's RDJ!</p>
																<div class="inline-itms">
																	<span>1 minute ago</span>
																	
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>

														</li>
														<li>
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="timeline.html" title="">Starfleet Enterprise</a></h5>
																<p>My Favorite Movie! Robert Downey Jr
																	
																</p>
																<div class="inline-itms">
																	<span>1 hour ago</span>
																	
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>
														</li>
														
														<li class="post-comment">
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="post-comt-box">
																<form method="post">
																	<textarea placeholder="Post your comment"></textarea>
																	<div class="add-smiles">
																		<div class="uploadimage">
																			<i class="fa fa-image"></i>
																			<label class="fileContainer">
																				<input type="file">
																			</label>
																		</div>
																		
																	</div>

																	<button type="submit"></button>
																</form>	
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								
							    </div>
							</div><!-- centerl meta -->
							
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section><!-- content -->


	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Your Sawaal 2022. All rights reserved.</span>
				
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>

	
	<script src="js/main.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
	<script src="js/locationpicker.jquery.js"></script>
	<script src="js/map-init.js"></script>
	<script src="js/script.js"></script>
	<script>
		jQuery(document).ready(function($) {
			
			$('#us3').locationpicker({
			  location: {
			    latitude: -8.681013,
			    longitude: 115.23506410000005
			  },
			  radius: 0,
			  inputBinding: {
			    latitudeInput: $('#us3-lat'),
			    longitudeInput: $('#us3-lon'),
			    radiusInput: $('#us3-radius'),
			    locationNameInput: $('#us3-address')
			  },
			  enableAutocomplete: true,
			  onchanged: function (currentLocation, radius, isMarkerDropped) {
			    // Uncomment line below to show alert on each Location Changed event
			    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
			  }
			});

		});	
</script>

</body>	
</html>